.p1 {
    color: aquamarine;
    font-size: medium;
}

.p2 {
    color: bisque;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.p3 {
    color: cadetblue;
    font-size: 2em;
    font-style: italic;
    font-variant: small-caps;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.p4 {
    color: darkred;
    font-size: 2rem;
    font-style: oblique;
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
}

.p5 {
    color: green;
    font-size: 30%;
}